.button {
  border-radius: 4px;
  padding: 20px 15px;
  color: white;
}

.button.primary {
  background-color: $primary;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.anchorButton,
.linkButton {
  cursor: pointer;
  display: inline-block;
}
