{
  "presets": [
    "env",
    "stage-2",
    "react"
  ],
  "plugins": [
    ["relay", { "artifactDirectory": "./Components/__generated__" }],
    "babel-plugin-transform-es2015-modules-commonjs"
  ]
}
