body {
  min-height: 100%;
  height: 100%;
  margin: 0;
}

:global(#app) {
  height: inherit;
}

button {
  cursor: pointer;
}

textarea, input, button { outline: none; }

a {
  text-decoration: none;
  color: #393939;
}

ul, ol {
  padding: 0;
  list-style: none;
}

html {
  height: 100%;
}

html {
  font-family: 'Montserrat', sans-serif;
}
