<!DOCTYPE html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115758636-2');
    </script>
    <script src="https://cdn.ravenjs.com/3.26.4/raven.min.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Map,Set,Promise,Object.assign,Array.prototype.find"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% if (htmlWebpackPlugin.options.env !== 'production') { %>
      <meta name="robots" content="noindex, nofollow" />
    <% } %>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="Make the process of on-boarding your new software developers an easy experience." />
    <meta itemprop="name" content="" />
    <meta itemprop="description" content="" />
    <meta itemprop="image" content="https://www.onboardor.com/build/wwwroot/images/" />
    <meta property="og:title" content="" />
    <meta property="og:url" content="https://www.onboardor.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="https://www.onboardor.com/build/wwwroot/images/" />
    <meta property="og:site_name" content="onboardor.com" />
  </head>
  <body>
      <div id="app"></div>
  </body>
</html>
