.input {
  width: 100%;
  padding: 0.8em 1em;
  box-shadow: none;
  background-color: transparent;
  min-height: 0;
  min-width: 0;
  border: 1px solid #dfdfdf;
  border-radius: 0;
  background: white;
}
