.hasError .validationField {
  border: 1px solid red;
}
  
.hasError .validationField:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(165, 56, 96, 0.1);
  pointer-events: none;
}

.validationField {
  border: 1px solid transparent;
  position: relative;
}
