.install {
  margin: 0 19px;
  padding-top: 130px;
}

.description {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.signInButtonContainer {
  display: flex;
  justify-content: center;
  .signInButton {
    display: flex;
    align-items: center;
    svg {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      fill: white;
    }
  }
}
