.landingPage {
  margin: 0 19px;
  padding-top: 130px;
}

.content {
  max-width: 830px;
  margin: 0 auto;
}

.subscribeMailingList {
  max-width: 70%;
  margin: 0 auto;
}

.howItWorks {
  margin-top: 60px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;

  .howItWorksItem:not(:last-child) {
    margin-bottom: 50px;
  }

  .howItWorksItem {
    display: flex;
    flex-direction: column;
    align-items: center;

    .iconContainer {
      border-radius: 50%;
      background-color: $secondary;
      padding: 12px;
      display: flex;

      > svg {
        fill: white;
        width: 24px;
        height: 24px;
      }
    }

    .description {
      text-align: center;
      margin-top: 10px;
    }
  }
}

.join {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;

  > span {
    font-weight: 600;
  }
}

.coming {
  color: $lightGrey;
  text-align: center;
  margin-top: 30px;
}

@media only screen and (max-width: $breakpointMobile) {
  .join {
    font-size: 18px;
  }
}
